#portfolio

    h2
        text-align: center

    .portfoliowrapper
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column

        span
            margin: 10px
            display: block
            background-color: pink
            height: 300px
            width: 300px
