#services

    .serviceCarousel

        .mySlides
            display: none

            .webDev
                display: block
                width: 100%
                height: 500px
                background-color: pink

                .serviceHeader
                    display: flex
                    justify-content: center
                    align-items: center

            .eCom
                display: block
                width: 100%
                height: 500px
                background-color: black

                .serviceHeader
                    display: flex
                    justify-content: center
                    align-items: center

            .SEO
                display: block
                width: 100%
                height: 500px
                background-color: blue

                .serviceHeader
                    display: flex
                    justify-content: center
                    align-items: center

        .prev, .next
            cursor: pointer
            position: relative
            padding: 20px
            border: solid black
            border-width: 0 3px 3px 0
            display: inline-block
            padding: 3px


        .prev
            transform: rotate(135deg)

        .next
            transform: rotate(-45deg)

    .desktopCarousel
        display: none


@media (min-width: 600px)

    #services

        .serviceCarousel
            display: none

        .desktopCarousel
            display: block
            height: 100vh

            ul
                margin: 0
                padding: 0

                li
                    display: inline-block
                    padding: 0 30px

        .desktopWebDev
            display: none

            span

            h2

            p

            button

        .desktopEcom
            display: none

        .desktopSEO
            display: none

        .desktopWebDev.show
            display: block

        .desktopEcom.show
            display: block

        .desktopSEO.show
            display: block
