#services
    background: #D3D3D3

    .serviceCarousel

        .mySlides
            display: none

            .webDev
                display: block
                width: 100%
                height: 500px
                background-color: pink

                .serviceHeader
                    display: flex
                    justify-content: center
                    align-items: center

            .eCom
                display: block
                width: 100%
                height: 500px
                background-color: black

                .serviceHeader
                    display: flex
                    justify-content: center
                    align-items: center

            .SEO
                display: block
                width: 100%
                height: 500px
                background-color: blue

                .serviceHeader
                    display: flex
                    justify-content: center
                    align-items: center

        .prev, .next
            cursor: pointer
            position: relative
            padding: 20px
            border: solid black
            border-width: 0 3px 3px 0
            display: inline-block
            padding: 3px


        .prev
            transform: rotate(135deg)

        .next
            transform: rotate(-45deg)

    .desktopCarousel
        display: none


@media (min-width: 600px)

    #services
        padding: 100px 0 0 0

        .serviceCarousel
            display: none

        .desktopCarousel
            display: block
            height: 100vh

            ul
                margin: 0
                padding: 0

                li
                    display: inline-block
                    padding: 0 30px

        .desktopWebDev, .desktopEcom, .desktopSEO
            display: none
            margin: 100px 0 0 30px


            span
                display: block
                height: 100px
                width: 100px
                background-color: pink
                margin-left: auto
                margin-right: auto

            h2
                font-size: 40px

            p
                font-size: 20px

            button

        .desktopEcom
            display: none
            margin: 0 0 0 30px

        .desktopSEO
            display: none
            margin: 0 0 0 30px

        .desktopWebDev.show
            display: block

        .desktopEcom.show
            display: block

        .desktopSEO.show
            display: block

@media (min-width: 900px)

    #services

        .desktopCarousel

            .desktopWebDev, .desktopEcom, .desktopSEO
                margin-top: 30vh

            .desktopWebDev
                flex-direction: row-reverse

                .webDevContent
                    width: 50%

            .desktopEcom
                flex-direction: row-reverse

                .eComContent
                    width: 50%

            .desktopSEO
                flex-direction: row-reverse

                .seoContent
                    width: 50%

            .desktopWebDev.show
                display: flex

            .desktopEcom.show
                display: flex

            .desktopSEO.show
                display: flex
