html {
  margin: 0;
  padding: 0;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  height: 100%; }

.nav .mobileHeader .mobileLogo img {
  padding: 30px;
  height: 20px;
  position: absolute; }

.nav .mobileHeader .mobileBurger {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  padding: 15px 15px;
  cursor: pointer;
  z-index: 7; }
  .nav .mobileHeader .mobileBurger span,
  .nav .mobileHeader .mobileBurger span:before,
  .nav .mobileHeader .mobileBurger span:after {
    content: "";
    display: block;
    background-color: white;
    height: 3px;
    width: 30px;
    position: relative;
    transition: all 0.3s ease-in-out; }
  .nav .mobileHeader .mobileBurger span:before {
    top: 10px; }
  .nav .mobileHeader .mobileBurger span:after {
    top: -13px; }
  .nav .mobileHeader .mobileBurger.isOpen span {
    background: transparent; }
  .nav .mobileHeader .mobileBurger.isOpen span:before,
  .nav .mobileHeader .mobileBurger.isOpen span:after {
    -webkit-transform-origin: center;
            transform-origin: center;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 0; }
  .nav .mobileHeader .mobileBurger.isOpen span:after {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: -3px; }

.nav .mobileHeader .mobileSlider {
  display: none; }

.nav .tabletHeader {
  display: none; }

.nav .desktopHeader {
  display: none; }

@media (min-width: 600px) {
  .nav .mobileHeader .mobileLogo img {
    height: 30px;
    padding: 25px; } }

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: url(/img/hero-01.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#portfolio h2 {
  text-align: center; }

#portfolio .portfolioWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  #portfolio .portfolioWrapper span {
    margin: 10px;
    display: block;
    background-color: pink;
    height: 300px;
    width: 300px; }

@media (min-width: 600px) {
  #portfolio .portfolioWrapper {
    flex-direction: row; } }

#services .serviceCarousel .mySlides {
  display: none; }
  #services .serviceCarousel .mySlides .webDev {
    display: block;
    width: 100%;
    height: 500px;
    background-color: pink; }
    #services .serviceCarousel .mySlides .webDev .serviceHeader {
      display: flex;
      justify-content: center;
      align-items: center; }
  #services .serviceCarousel .mySlides .eCom {
    display: block;
    width: 100%;
    height: 500px;
    background-color: black; }
    #services .serviceCarousel .mySlides .eCom .serviceHeader {
      display: flex;
      justify-content: center;
      align-items: center; }
  #services .serviceCarousel .mySlides .SEO {
    display: block;
    width: 100%;
    height: 500px;
    background-color: blue; }
    #services .serviceCarousel .mySlides .SEO .serviceHeader {
      display: flex;
      justify-content: center;
      align-items: center; }

#services .serviceCarousel .prev, #services .serviceCarousel .next {
  cursor: pointer;
  position: relative;
  padding: 20px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px; }

#services .serviceCarousel .prev {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

#services .serviceCarousel .next {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#services .desktopCarousel {
  display: none; }

@media (min-width: 600px) {
  #services .serviceCarousel {
    display: none; }
  #services .desktopCarousel {
    display: block;
    height: 100vh; }
    #services .desktopCarousel ul {
      margin: 0;
      padding: 0; }
      #services .desktopCarousel ul li {
        display: inline-block;
        padding: 0 30px; }
  #services .desktopWebDev {
    display: none; }
  #services .desktopEcom {
    display: none; }
  #services .desktopSEO {
    display: none; }
  #services .desktopWebDev.show {
    display: block; }
  #services .desktopEcom.show {
    display: block; }
  #services .desktopSEO.show {
    display: block; } }

#contact h2 {
  text-align: center; }

#contact p {
  text-align: center; }

#contact button {
  display: block;
  margin-left: auto;
  margin-right: auto; }

#footer .mobileFooter .footerLogo h3 {
  text-align: center; }

#footer .mobileFooter .footerSocials ul {
  margin: 0;
  padding: 0;
  text-align: center; }
  #footer .mobileFooter .footerSocials ul li {
    display: inline-block;
    font-size: 24px;
    padding: 0 10px; }

#footer .mobileFooter ul {
  margin: 0;
  padding: 0;
  text-decoration: none;
  width: 100%; }
  #footer .mobileFooter ul li {
    text-align: center;
    padding: 10px 0; }
    #footer .mobileFooter ul li a {
      text-decoration: none;
      color: black;
      cursor: pointer; }

#footer .mobileFooter .footerCopywrite .divider {
  display: block;
  width: 100%;
  height: 1px;
  background-color: black; }

#footer .mobileFooter .footerCopywrite .copywrite p {
  text-align: center;
  margin: 5px 0; }
